[submodule "libs/archerfisher"]
	path = libs/archerfisher
	url = https://github.com/P10-Software/archfisher.git
[submodule "libs/SNAILS"]
	path = libs/SNAILS
	url = https://huggingface.co/kyleluoma/SNAILS-word-naturalness-classifier
