auto_mix_prep==0.2.0
accelerate==1.6.0
datasets==3.5.0
numpy==2.2.5
optuna==4.3.0
pandas==2.2.3
python-dotenv==1.1.0
scikit_learn==1.6.1
sql_metadata==2.15.0
SQLAlchemy==2.0.38
tqdm==4.67.1
transformer_heads==0.2.2
transformers==4.48.3
pyreadstat==1.2.8
torch==2.6.0
pytest==8.3.4
mschema @ git+https://github.com/P10-Software/mschema.git@8428d4d2d92e9048bd082440804067664b1a231d