certifi==2025.1.31
charset-normalizer==3.4.1
distlib==0.3.9
filelock==3.16.1
fsspec==2025.2.0
greenlet==3.1.1
huggingface-hub==0.28.1
idna==3.10
iniconfig==2.0.0
Jinja2==3.1.5
MarkupSafe==3.0.2
numpy==2.2.2
packaging==24.2
pandas==2.2.3
platformdirs==4.3.6
pluggy==1.5.0
psycopg2-binary==2.9.10
pyreadstat==1.2.8
pytest==8.3.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
safetensors==0.5.2
six==1.17.0
sql_metadata==2.15.0
SQLAlchemy==2.0.37
sqlglot==26.4.1
sqlparse==0.5.3
tokenizers==0.21.0
tqdm==4.67.1
transformers==4.48.3
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
virtualenv==20.27.1
